<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temporary Chat: global</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/screen-response.css">
    <link rel="stylesheet" href="/style-home.css">
</head>
<body>
    <div class="user-info-contain">
        <div class="user-info">
            <input type="text" placeholder="Enter your desired username." id="userNameInput">
            <button id="gotoGlobalLobby">Go To Global Lobby</button>
            <button id="generateTempLobby">Generate Temporary Lobby</button>
            <div id="generatedLink">This is a generated link</div>
        </div>
    </div>
</body>
<script src="/global_func.js"></script>
<script src="/home_func.js"></script>
</html>

