
@media only screen and (min-width: 950px) {
	.main-content {
		width: 950px;
		margin: 0 auto;
	}
	
	.chat-box {
		width: 950px;
	}
}
/*
@media (prefers-color-scheme: dark) {
	:root {
		--bg-3: #181926;
		--header-color: #24273a;
		--bg-lighter-2: #6e738d;
		--color-text-input: #cad3f5;
	}

	.user-info input::placeholder {
		color: rgba(255, 255, 255, 0.6);
	}

	.user-info input {
		background-color: rgba(0, 135, 177, 0.08);
	}
}
*/
