
.user-info-contain {
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
}
.user-info {
	width: 20rem;
	background-color: var(--header-color);
	display: flex;
	flex-direction: column;
	padding: 2.5rem;
	gap: 1rem;
    align-items: center;
	border-radius: 1rem;
	box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}
.logo-image {
    width: 100%;
    margin-bottom: 1rem;
    aspect-ratio: 1 / 1;
}
.user-info input {
    width: 80%;
    height: 2rem;
    font-size: 0.9rem;
    /*top right bottom left*/
    pointer-events: all;
    border: none;
    /*border: 2px var(--bg-1) solid;*/
    /*border-radius: 17px;*/
    border-radius: 2px;
    padding: 0.2rem 3rem 0.2rem 0.9rem;
    outline: none;
    background-color: rgba(0, 135, 177, 0.2);
    transition: box-shadow 0.1s ease-in-out;
    color: var(--color-text-input);
}
.user-info input:focus {
    box-shadow: 0 0 0 1.4px #009fcf80;
}
.user-info input::placeholder {
    padding-left: 0.9rem;
    font-size: 14px;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.user-info button {
    width: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family:
        -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin: 0;
    outline: none;
    padding: 8px 0.8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    color: #fff;
    background-color: #009fcf;
}
#generatedLink {
    border: 0px solid;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.6rem;
    font-size: 0.8rem;
    padding: 1rem;
    display: none;
}
